<div class = "footer">
    <div class = "logo">Moa:SKK</div>
    <div class = "copyright">
        COPYRIGHT ⓒ 2021 LIKELION SUNGKYUNKWAN UNIV. ALL RIGHTS RESERVED. <br>
        CONTACT. e-mail : wisdom2889@g.skku.edu
    </div>
</div>