<div>
    <span><a class="link" href="/search" style="color: black;">검색</a></span>
    <span><a  class="link" href="/purchase" style="color: black;">공구</a></span>
    <span><a class="link" href="/review" style="color: black;">후기</a></span>
    <span><a class="link" href="/myPage" style="color: black;">마이페이지</a></span>
    <% if (menu != "login") { %>
        <% if (login) { %>
            <button onclick="location.href='/logout'" style="display: inline; margin-top: 0px; margin-bottom: 5px; float:right; width: 20%; background-color: lightgrey;">로그아웃</button>
            <% } else {%>
                <button onclick="location.href='/login'" style="display: inline; margin-top: 0px; margin-bottom: 5px; float:right; width: 20%; background-color: lightgrey;">로그인</button>
                <% }} %>
                    <% if (menu == "login") { %>
                        <button onclick="location.href='/signup'" style="display: inline; margin-top: 0px; margin-bottom: 5px; float:right; width: 20%; background-color: lightgrey;">회원가입</button>
                        <% } %>
</div>