/* contents */
.login_body {
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
    margin: 160px;
}

form {
    margin-top: 10px;
}

.id_tag {
    font-family: 'Gowun Dodum', sans-serif;
    align-content: center;
}
.id_tag > p {
    font-family: 'Gowun Dodum', sans-serif;
    display: inline-block;
}
.form-control {
    font-family: 'Gowun Dodum', sans-serif;
    display: inline-block;
    background-color: var(--point-color);
    border-radius:10px;
    border:none;
    width: 300px;
    height: 45px;
}
input:focus {outline:none;}
.Passw {
    font-family: 'Gowun Dodum', sans-serif;
    align-content: center;
}
.Passw > p {
    font-family: 'Gowun Dodum', sans-serif;
    display: inline-block;
}
.login_btn {
    font-family: 'Gowun Dodum', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--title-color);
    color:white;        
    cursor: pointer;
}
/* footer */
.footer {
    position: fixed;
    bottom: 0;
}