/* main */

.mypage-main {
    padding: 110px 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
}


/* 개인정보 확인 및 수정자리 */

.mypage-main .info {
    height: 100%;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    flex-basis: 400px;
    border-right: 1px solid #B29471;
}

.mypage-main .info ul {
    list-style: none;
}

.mypage-main .info ul li {
    margin: 10px;
}

.mypage-main .info ul .prof-img {
    margin-bottom: 25px;
    margin-left: 0px;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
}

.mypage-main .info ul .prof-img img {
    position: relative;
    left: -12px;
    bottom: 12px;
    width: 150px;
    height: 150px;
}

.mypage-main .info button {
    width: 250px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px 10px;
    border: 1px solid #B29471;
    transition: all .5s ease;
}

.mypage-main .info button:hover {
    background-color: #B29471;
    color: #FFFFFF;
    opacity: 0.8;
}


/* 내가 쓴 글 및 찜한 마스크 확인 자리 */

.mypage-main .list {
    margin: 10px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}


/* 내가 쓴 글 구분 */

.mypage-main .list .post {
    border-bottom: 1px solid #B29471;
    flex-basis: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.mypage-main .list .post ul {
    display: flex;
    flex-direction: column;
}

.mypage-main .list .post .group-buy {
    flex-basis: 50px;
    margin-bottom: 20px;
}

.mypage-main .list .post .group-buy .group-buy-post {
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.mypage-main .list .post .group-buy .group-buy-post:hover {
    color: #B29471;
    opacity: 0.8;
}

.mypage-main .list .post .review {
    flex-basis: 50px;
    margin-bottom: 20px;
}

.mypage-main .list .post .review .review-post {
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.mypage-main .list .post .review .review-post:hover {
    color: #B29471;
    opacity: 0.8;
}


/* 찜한 마스크 구분 */

.mypage-main .list .dibs {
    flex-grow: 2;
    flex-shrink: 0;
}

.mypage-main .list .dibs ul {
    max-width: 800px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    padding-bottom: 15px;
}

.mypage-main .list .dibs ul .dibs-list {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
}

.mypage-main .list .dibs ul .dibs-list img {
    width: 150px;
    height: 150px;
}