<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <link rel="stylesheet" type="text/css" href="/views/partials/base.css">
</head>

<body>
    <% var logind = login; %>
    <%- include('../partials/header', {menu:"myPage", login : logind }) %>
        <h1 style="text-align: center; margin-top:2%">마이페이지</h1>

</body>

</html>
