<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="/js/review_writing.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/partials/base.css">
    <link rel="stylesheet" type="text/css" href="/views/partials/review_writing.css">
    <title>Review Writing</title>
</head>

<body>
    <% var logind = login; %>
        <%- include('../partials/header', {menu:"review_writing", login : logind }) %>

            <!-- main -->
            <div class="review-writing-container">
                <h3>후기 쓰기</h3>
                <div class="review-form">
                    <div class='container1'>
                        <p>제목</p>
                        <input class="form-control" type="text" id='title' name="review-title">
                    </div>
                    <div class='container1'>
                        <p>마스크 이름</p>
                        <input class="form-control" type="text" id='mask' onclick="showPopup()" placeholder="클릭하여 마스크를 검색하세요" name="mask-name" readonly>
                        <input class="form-control" type="hidden" id='hidden' name="maskid" readonly>
                        <script>
                            function showPopup() {
                                window.open("purchase_search", "a", "width=800, height=1200, left=100, top=50");
                            }
                        </script>
                    </div>
                    <div class="container1">
                        <p>마스크 종류</p>
                        <div class="review-filter">
                            <label>끈</label>
                            <select id='mask-strap'>
                            <option value='동그란 고무줄'>동그란 고무줄</option>
                            <option value='납작한 고무줄'>납작한 고무줄</option>
                            <option value='부직포'>부직포</option>
                            <option value='기타'>기타</option>
                        </select>
                            <label>등급</label>
                            <select id='KF-level'>
                            <option value='KF-94'>KF-94</option>
                            <option value='KF-80'>KF-80</option>
                            <option value='KF-AD'>KF-AD</option>
                            <option value='덴탈'>덴탈</option>
                            <option value='기타'>기타</option>
                        </select>
                            <label>사이즈</label>
                            <select id='mask-size'>
                            <option value='대형'>대</option>
                            <option value='중형'>중</option>
                            <option value='소형'>소</option>
                        </select>
                            <label>모양</label>
                            <select id='mask-design'>
                            <option value='일반형'>일반형</option>
                            <option value='새부리형'>새부리형</option>
                            <option value='기타'>기타</option>
                        </select>
                        </div>
                    </div>

                    <div class="container1">
                        <p>후기 내용</p>
                        <div class="input-group">
                            <textarea class="form-control" name="body" aria-label="With textarea" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="image-review">
                        <p>사진</p>
                        <img id="preview-image" src='https://dummyimage.com/300x300/FAF9F7/50514f.png&text=Preview'>
                        <br>
                        <input type="file" onchange="readURL(this);">
                    </div>
                </div>
            </div>

            <button class="upload-review" onclick="save_review()">업로드</button>
            <%- include('../partials/footer') %>
</body>

</html>