<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/partials/base.css">
    <link rel="stylesheet" type="text/css" href="/views/partials/signup.css">
    <script src="/js/signup.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Sign up</title>
</head>

<body>
    <!-- header part -->
    <% var logind = login; %>
        <%- include('../partials/header', {menu:"signup", login: logind}) %>
            <div class="sign-up">
                <h3>회원가입</h3><br><br>
                <div class="signup-form">
                    <div class="information">
                        <div class="imagechecklist">
                            <p>프로필 사진 선택</p>
                            <ul class="checklist-image" aria-labelledby="checklistimage1">
                                <div class="image-check1">
                                    <input class="image-check-input" type="radio" value="1" name="profile" id="mycheck1" checked="checked">
                                    <label class="image-check-label" for="mycheck1"></label>
                                </div>
                                <div class="image-check2">
                                    <input class="image-check-input" type="radio" value="2" name="profile" id="mycheck2">
                                    <label class="image-check-label" for="mycheck2"></label>
                                </div>
                                <div class="image-check3">
                                    <input class="image-check-input" type="radio" value="3" name="profile" id="mycheck3">
                                    <label class="image-check-label" for="mycheck3"></label>
                                </div>
                                <div class="image-check4">
                                    <input class="image-check-input" type="radio" value="4" name="profile" id="mycheck4">
                                    <label class="image-check-label" for="mycheck4"></label>
                                </div>
                            </ul>
                        </div>
                        <p>이름</p>
                        <input class="form-control" type="text" placeholder="NAME" id="name">
                        <br>
                        <p>별명</p>
                        <input class="form-control" type="text" placeholder="NICKNAME" id="nickname">
                        <br>
                        <p>주소</p>
                        <input class="form-control" type="text" placeholder="ADDRESS" id="adr">
                        <br>
                        <p>아이디</p>
                        <input class="form-control" type="text" placeholder="ID" id="id">
                        <br>
                        <p>비밀번호</p>
                        <input class="form-control" type="password" placeholder="PASSWORD" id="pwd">
                        <br>
                        <p>비밀번호 확인</p>
                        <input class="form-control" type="password" placeholder="PASSWORD CONFIRM" id="pwdconfirm">
                        <button id="pwdCheckBtn" onclick="pwdCheck()">비밀번호 확인</button>
                        <span id="pwdCheckResult" value="0"></span>
                        <br>
                    </div>

                    <div class="favor">
                        <p>마스크 선호도 조사</p>
                        <div class="priority">
                            <label for='string'>끈 종류</label>
                            <select id='string_priority'>
                                <option value='1' selected>1순위</option>
                                <option value='2'>2순위</option>
                                <option value='3'>3순위</option>
                                <option value='4'>4순위</option>
                            </select>
                            <label for='KF'>KF 등급</label>
                            <select id='KF_priority'>
                                <option value='1'>1순위</option>
                                <option value='2' selected>2순위</option>
                                <option value='3'>3순위</option>
                                <option value='4'>4순위</option>
                            </select>
                            <label for='shape'>모양</label>
                            <select id='shape_priority'>
                                <option value='1'>1순위</option>
                                <option value='2'>2순위</option>
                                <option value='3' selected>3순위</option>
                                <option value='4'>4순위</option>
                            </select>
                            <label for='size'>사이즈</label>
                            <select id='size_priority'>
                                <option value='1'>1순위</option>
                                <option value='2'>2순위</option>
                                <option value='3'>3순위</option>
                                <option value='4' selected>4순위</option>
                            </select>
                        </div>

                        <div class="btn-group">
                            <div class="checklist">
                                <p>끈</p>
                                <label for=""><input type="radio" name="strap" value='동그란 고무줄'>동그란 고무줄</label>
                                <label for=""><input type="radio" name="strap" value='납작한 고무줄'>납작한 고무줄</label>
                                <label for=""><input type="radio" name="strap" value='부직포'>부직포</label>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>KF 등급</p>
                                <label for=""><input type="radio" name="KF" value='KF-94'>KF-94</label>
                                <label for=""><input type="radio" name="KF" value='KF-80'>KF-80</label>
                                <label for=""><input type="radio" name="KF" value='KF-AD'>KF-AD</label>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>대중소</p>
                                <label for=""><input type="radio" name="size" value='대'>대</label>
                                <label for=""><input type="radio" name="size" value='중'>중</label>
                                <label for=""><input type="radio" name="size" value='소'>소</label>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>모양</p>
                                <label for=""><input type="radio" name="shape" value='일반형'>일반형</label>
                                <label for=""><input type="radio" name="shape" value='새부리형'>새부리형</label>
                            </div>
                        </div>
                    </div>
                    <button class="sign_btn" onclick="signup()">회원가입</button>
                </div>
            </div>
            <%- include('../partials/footer') %>
</body>

</html>