<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/partials/signup.css">
    <title>Sign up</title>
</head>

<body>
    <!-- header part -->
    <% var logind = login; %>
        <%- include('../partials/header', {menu:"signup", login: logind}) %>
            <div class="sign-up">
                <h3>회원가입</h3><br><br>
                <form method="POST" action="/signup">
                    <div class="information">
                        <div class="imagechecklist">
                            <p>프로필 사진 선택</p>
                            <ul class="checklist-image" aria-labelledby="checklistimage1">
                                <div class="image-check1">
                                    <input class="image-check-input" type="radio" value="static/01.png" name="profile" id="mycheck1">
                                    <label class="image-check-label" for="mycheck1" id="mycheck1"></label>
                                </div>
                                <div class="image-check2">
                                    <input class="image-check-input" type="radio" value="static/02.png" name="profile" id="mycheck2">
                                    <label class="image-check-label" for="mycheck2"></label>
                                </div>
                                <div class="image-check3">
                                    <input class="image-check-input" type="radio" value="static/03.png" name="profile" id="mycheck3">
                                    <label class="image-check-label" for="mycheck3"></label>
                                </div>
                                <div class="image-check4">
                                    <input class="image-check-input" type="radio" value="static/04.png" name="profile" id="mycheck4">
                                    <label class="image-check-label" for="mycheck4"></label>
                                </div>
                            </ul>

                        </div>
                        <p>이름</p>
                        <input class="form-control" type="text" name="realname" placeholder="NAME" id="name">
                        <br>
                        <p>별명</p>
                        <input class="form-control" type="text" name="nickname" placeholder="NICKNAME" id="nickname">
                        <br>
                        <p>주소</p>
                        <input class="form-control" type="text" name="adr" placeholder="ADDRESS" id="adr">
                        <br>
                        <p>아이디</p>
                        <input class="form-control" type="text" name="id" placeholder="ID" id="id">
                        <br>
                        <p>비밀번호</p>
                        <input class="form-control" type="password" name="pwd" placeholder="PASSWORD" id="pwd">
                        <br>
                        <p>비밀번호 확인</p>
                        <input class="form-control" type="password" name="pwdconfirm" placeholder="PASSWORD" id="pwdconf">
                        <br>
                    </div>
                    <div class="favor">
                        <p>마스크 선호도 조사</p>
                        <div class="priority">
                            <label for='1prior'>1순위</label>
                            <select id='first_priority'>
                        <option value='string1'>끈</option>
                        <option value='KF1'>KF 등급</option>
                        <option value='shape1'>모양</option>
                        <option value='size1'>대중소</option>
                    </select>
                            <label for='2prior'>2순위</label>
                            <select id='second_priority'>
                        <option value='string2'>끈</option>
                        <option value='KF2'>KF 등급</option>
                        <option value='shape2'>모양</option>
                        <option value='size2'>대중소</option>
                    </select>
                            <label for='3prior'>3순위</label>
                            <select id='third_priority'>
                        <option value='string3'>끈</option>
                        <option value='KF3'>KF 등급</option>
                        <option value='shape3'>모양</option>
                        <option value='size3'>대중소</option>
                    </select>
                            <label for='4prior'>4순위</label>
                            <select id='fourth_priority'>
                        <option value='string4'>끈</option>
                        <option value='KF4'>KF 등급</option>
                        <option value='shape4'>모양</option>
                        <option value='size4'>대중소</option>
                    </select>
                        </div>

                        <div class="btn-group">
                            <div class="checklist">
                                <p>끈</p>
                                <ul class="checklist-menu" aria-labelledby="checklistMenu1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="동그란 고무줄">
                                        <label class="form-check-label">동그란 고무줄</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="납작한 고무줄">
                                        <label class="form-check-label">납작한 고무줄</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="부직포">
                                        <label class="form-check-label">부직포</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>KF 등급</p>
                                <ul class="checklist-menu" aria-labelledby="checklistMenu1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="KF-94">
                                        <label class="form-check-label">KF-94</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="KF-80">
                                        <label class="form-check-label">KF-80</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="KF-AD">
                                        <label class="form-check-label">KF-AD</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="덴탈">
                                        <label class="form-check-label">덴탈</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>대중소</p>
                                <ul class="checklist-menu" aria-labelledby="checklistMenu1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="대">
                                        <label class="form-check-label">대</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="중">
                                        <label class="form-check-label">중</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="소">
                                        <label class="form-check-label">소</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="checklist">
                                <p>모양</p>
                                <ul class="checklist-menu" aria-labelledby="checklistMenu1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="일반형" id="beef">
                                        <label class="form-check-label" for="circle">일반형</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checks[]" onclick=showpicks2(this) value="새부리형" id="pork">
                                        <label class="form-check-label" for="pork">새부리형</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="sign_btn" type="submit">회원가입</button>
                </form>
            </div>
            <%- include('../partials/footer') %>

</body>

</html>